<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.ssm.mapper.UserMapper">
	 <resultMap id="BaseResultMap" type="cn.itcast.ssm.po.User">
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="user_psd" property="userPsd" jdbcType="VARCHAR" />
		<result column="user_gender" property="userGender" jdbcType="VARCHAR" />
		<result column="user_hiredate" property="userHiredate"  jdbcType="TIMESTAMP" />
		<result column="user_age" property="userAge" jdbcType="INTEGER" />
		<result column="user_job" property="userJob"  jdbcType="VARCHAR" />
		<result column="user_sal" property="userSal" jdbcType="REAL" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="cn.itcast.ssm.po.UserCustom"
		extends="BaseResultMap">
	</resultMap>
	<sql id="Base_Column_List">
		user_id, user_name, user_psd, user_gender,user_hiredate,user_age,user_job,user_sal
	</sql>
	<sql id="Blob_Column_List">
	</sql>
	 <select id="findUserByNameAndPsd" resultMap="BaseResultMap">
     SELECT
      <include refid="Base_Column_List" />
   FROM
      `user` AS u
    WHERE
     u.user_name =#{userName} and u.user_psd =#{userPsd}
	</select>
<!-- <select id="findUserById" resultType="cn.itcast.ssm.po.User">
     SELECT
      <include refid="Base_Column_List" />
   FROM
      `user` AS u
    WHERE
     u.user_id =#{userId}
	</select> -->
<!-- <select id="findUserByNameAndPsd"  resultType="cn.itcast.ssm.po.User" >
 SELECT
`user`.user_id,
`user`.user_name,
`user`.user_psd,
`user`.user_gender,
`user`.user_hiredate,
`user`.user_age,
`user`.user_job,
`user`.user_sal
FROM
`user`
</select> -->
</mapper>